{% extends "base.html" %} {% block title %}{{ page.title }} | {{ super() }}{%
endblock title %} {% block opengraph %}
<meta property="og:site_name" content="{{ config.title }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:url" content="{{ page.permalink }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{ get_url(path='images/og-image.png') }}" />
{% endblock opengraph %} {% block content %}
<div class="prose mx-auto py-10">
  <h1 class="text-center text-balance">{{ page.title }}</h1>

  <aside class="text-center text-sm text-gray-500">
    <span class="text-sm">
      <time datetime="{{ page.date }}">
        {{ page.date | date(format="%b %d, %Y") }}
      </time>
    </span>
    ·
    <span class="text-sm"> {{ page.reading_time }} minutes </span>
    <br />
    {% for tag in page.taxonomies.tags %}
    <span>#{{ tag }}</span>
    {% endfor %}
  </aside>

  {{ page.content | safe }}
</div>

<script
  src="https://giscus.app/client.js"
  data-repo="thiht/thiht.github.io"
  data-repo-id="MDEwOlJlcG9zaXRvcnk0NzI5MDY0MA=="
  data-category="Comments"
  data-category-id="DIC_kwDOAtGZEM4CmJ2J"
  data-mapping="og:title"
  data-strict="1"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="noborder_light"
  data-lang="en"
  crossorigin="anonymous"
  async
></script>
{% endblock content %}
