{% extends "base.html" %} {% block content %} {% set blog_section =
get_section(path="blog/_index.md") %}

<ul class="max-w-2xl mx-auto mt-15">
  {% for page in blog_section.pages %}
  <li class="flex items-center justify-between my-5">
    <h2 class="text-lg">
      <a href="{{ page.permalink }}" class="block hover:underline">
        {{ page.title }}
      </a>
    </h2>
    <small class="block text-right text-gray-700">
      {{ page.date | date(format="%b %d, %Y") }}
    </small>
  </li>
  {% endfor %}
</ul>

{% endblock content %}
