@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-cursive: Charm, cursive;
}

@plugin "@tailwindcss/typography";

@utility prose {
  code {
    &::before,
    &::after {
      display: none;
    }
  }
}

@font-face {
  font-family: Charm;
  src: url(/fonts/Charm-Regular.ttf);
}

@font-face {
  font-family: Charm;
  font-weight: 500 1000;
  src: url(/fonts/Charm-Bold.ttf);
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(/fonts/IBMPlexSans-Regular.ttf);
}

.giscus {
  @apply max-w-3xl;
  @apply mx-auto;
}

@theme {
  --text-2xs: 0.625rem;
}
